{% extends 'base.html' %}

{% block content %}
    <!-- About Me -->
		<section id="about" class="section section-1">
			<div class="container has-text-centered">
				<img class="avatar" src="https://avatars.githubusercontent.com/u/19926718?v=4.jpg">
			</div>
			<div class="container">
				<p class="intro">
					I like to do nothing and sometimes do something that i like to do. This site's template was found on the internet and now i'm trying to make it look good.
				</p>
			</div>
		</section>
{% endblock %}