{% extends 'base.html' %}

{% block content %}
	<!-- About Me -->
		<section id="about" class="section section-1">
			<div class="container has-text-centered">
				<!-- Source: https://flic.kr/p/pAZBNK -->
<!--				<img class="avatar" src="./static/assets/img/profile.png">-->
				<img class="avatar" src="https://avatars.githubusercontent.com/u/19926718?v=4.jpg">
			</div>
			<div class="container"></br>
				<p class="intro">
					“I get so god damn lonely and sad and filled with regrets some days. It overwhelms me as I’m sitting on the bus; watching the golden leaves from a window; a sudden burst of realisation in the middle of the night. I can’t help it and I can’t stop it. I’m alone as I’ve always been and sometimes it hurts…. but I’m learning to breathe deep through it and keep walking. I’m learning to make things nice for myself. To comfort my own heart when I wake up sad. To find small bits of friendship in a crowd full of strangers. To find a small moment of joy in a blue sky, in a trip somewhere not so far away, a long walk an early morning in December, or a handwritten letter to an old friend simply saying ”I thought of you. I hope you’re well.”

No one will come and save you. No one will come riding on a white horse and take all your worries away. You have to save yourself, little by little, day by day. Build yourself a home. Take care of your body. Find something to work on. Something that makes you excited, something you want to learn. Get yourself some books and learn them by heart. Get to know the author, where he grew up, what books he read himself. Take yourself out for dinner. Dress up for no one but you and simply feel nice. it’s a lovely feeling, to feel pretty. You don’t need anyone to confirm it.

I get so god damn lonely and sad and filled with regrets some days, but I’m learning to breathe deep through it and keep walking. I’m learning to make things nice for myself. Slowly building myself a home with things I like. Colors that calm me down, a plan to follow when things get dark, a few people I try to treat right. I don’t sometimes, but it’s my intent to do so. I’m learning.I’m learning to make things nice for myself. I’m learning to save myself.
I’m trying, as I always will.”

					― Google Deepest quotes
				</p>
			</div>
		</section>
{% endblock %}